@font-face {
  font-family: "HaasRegular";
  src: url("/fonts/haas-rg.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "HaasMedium";
  src: url("/fonts/haas-md.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "HaasBold";
  src: url("/fonts/haas-bd.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
